* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    width: auto;
    height: auto;    
}

.kanit-thin-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

header {
    background-color: #000000;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding:30px;
    width: auto;
    height: 120px;
}

header .logo img {
    height: 120px;
}

nav ul {
    display: flex;
}

nav ul li {
    border: 1px solid rgba(78, 67, 67, 0);
    border-radius: 5px;
    padding: 4px 30px;
    
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(0, 0, 0);
}

h1{
    text-align: center;
    padding-top: 20px;
}

.timeline-container {
    width: 90%;
    padding: 10px 0;
}

.timeline {
    display: flex;
    padding: 50px;
}

.event{
    display: inline-flex;
    flex-direction: left;
    align-items: center;
    background: white;
    width: 1050px;
    height: 450px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(180, 174, 174, 0.2);
    text-align: center;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.content {
    text-align: center;
    align-items: center;
}


h2 {
    margin: 0 0 10px;
    text-align: center;
}

p {
    margin: 0;
    text-align: center;
    font-family: "Kanit", sans-serif;

}


.timeline-container::-webkit-scrollbar {
    height: 8px;
}

.timeline-container::-webkit-scrollbar-track {
    background: #ddd;
}


.footer-section{
    text-align: center;
    height:auto;
    background-color: #002147;
    width: 100%;
    color: aliceblue;
    padding: 20px 0;
    margin-top: 30px;
    align-items: center;
}

.footer-section h2 {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.footer-section a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
} 

.footer-section a:hover {
    text-decoration: underline;

}

.footer-section b {
    display: inline;
    margin:  10px;
}